﻿@model IEnumerable<MovieStore.Model.Category> 

<h3>
    Kategorie filmów
</h3>

<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "ByCategory", new { id = @category.CategoryID })</li>
    }
</ul>

