﻿@model MovieStore.Model.Movie

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<img src="/Images/Covers/@Model.Cover" alt="@Model.Title" class="float-right movie-cover-xl" />

<p>@Model.Description</p>

<p>Cena: @string.Format("{0:C}", Model.Price)</p>

<h3>Recenzje filmu</h3>

@Html.Partial("MovieReviews", Model.Reviews)

<br />

@Html.ActionLink("Dodaj recenzję", "Add", "Reviews", new { movieId = Model.MovieID}, null)