﻿@using MovieStore.Model

@model IEnumerable<Movie>

@{
    ViewBag.Title = "Lista filmów";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.CategoryName</h2>
            </hgroup>
        </div>
    </section>
}

<article>
    @Html.Partial("MovieList", Model)
</article>
<aside>
    @{
        Html.RenderAction("CategoryList");
    }
</aside>
