﻿@model IEnumerable<MovieStore.Model.Review>

@if (Model.Any())
{
    <table>
        <tr>
            <th>Autor</th>
            <th>Data recenzji</th>
            <th>Ocena</th>
            <th>Komentarz</th>
        </tr>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Author</td>
                <td>@review.ReviewDate.ToString("d")</td>
                <td>@review.Rating</td>
                <td>@review.Content</td>
            </tr>
        }
    </table>
    
    <p>Średnia ocena: @Model.Average(r => r.Rating)</p>
}
else
{
    <p>Brak recenzji do filmu.</p>
}
