﻿@model IEnumerable<MovieStore.Model.Movie>

@foreach (var movie in Model)
{
    <div class="movie-item clear-fix">
        <img src='/Images/Covers/@movie.CoverThumbnail' alt="@movie.Title" class="movie-thumbnail" />
        <h3 class="movie-title">
            @Html.ActionLink(movie.Title, "Details", new { id = movie.MovieID })
        </h3>
        <p>@movie.ShortDescription</p>
        <p class="movie-price">Cena: @string.Format("{0:C}", movie.Price)</p>

        @{
            var ajaxOptions = new AjaxOptions
            {
                UpdateTargetId = "cart-summary",
                HttpMethod = "POST"
            };
        }

        @Ajax.ActionLink("Dodaj do koszyka", "AddToCart", "Cart", new { movieId = movie.MovieID }, ajaxOptions)
    </div>
}

