﻿@using MovieStore.Model
@using PagedList
@using PagedList.Mvc

@model IPagedList<Movie>

@{
    ViewBag.Title = "Lista filmów ze stronicowaniem";
}

@section head {
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.CategoryName</h2>
            </hgroup>
        </div>
    </section>
}

<article>
    @Html.Partial("MovieList", Model)

    @Html.PagedListPager(Model, page => Url.Action("Paged", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</article>
<aside>
    @{
        Html.RenderAction("CategoryList");
    }
</aside>