﻿@model IEnumerable<AjaxDemo.Models.Appointment>

@{
    Layout = null;
}

@foreach (var appt in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => appt.Client)</td>
        <td>@Html.DisplayFor(m => appt.Date)</td>
    </tr>
} 