﻿@{
    ViewBag.Title = "Index";
}

<h2>Formularz klasyczny</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Klient</th>
            <th>Data wizyty</th>
        </tr>
        <tbody>
            @Html.Action("AppointmentData", new { id = Model })
        </tbody>
    </table>
    
    <p>
        @Html.DropDownList("id", new SelectList(new [] { "Wszyscy", "Jan", "Janina", "Adam", "Zenon" }, Model ?? "Wszyscy"))
        <input type="submit" value="Wyślij" />
    </p>
}

<br />

<h2>Formularz Ajax</h2>

@{
    var ajaxOptions = new AjaxOptions()
    {
        //Confirm = "Czy chcesz wysłać formularz?",
        UpdateTargetId = "tabledata",
        LoadingElementId = "ajax-loader",
        OnBegin = "OnBeginAjax",
        OnComplete = "OnCompleteAjax"
    };
}

@using(Ajax.BeginForm("AppointmentData", ajaxOptions))
{
    <img src="~/Content/ajax-loader.gif" alt="Proszę czekać..." id="ajax-loader" style="display: none;" />
    <table id="tableajax">
        <tr>
            <th>Klient</th>
            <th>Data wizyty</th>
        </tr>
        <tbody id ="tabledata">
            @Html.Action("AppointmentData", new { id = Model })
        </tbody>
    </table>

    <p>
        @Html.DropDownList("id", new SelectList(new [] { "Wszyscy", "Jan", "Janina", "Adam", "Zenon" }, Model ?? "Wszyscy"))
        <input type="submit" value="Wyślij" />
    </p>
}

<p> @Ajax.ActionLink("Spotkania Zenona", "AppointmentData", new { id = "Zenon" }, ajaxOptions)</p>

@section scripts
{
    <script>
        function OnBeginAjax() {
            $("#tableajax").fadeOut('fast');
        }

        function OnCompleteAjax() {
            $("#tableajax").fadeIn('slow');
        }
    </script>
}