﻿@model MovieStore.Services.ViewModels.CartViewModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using(Html.BeginForm())
{
    <p>Potwierdz zakup towaru.</p>
    <p>Kwota zakupów: @Model.TotalValue</p> 
    
    @Html.Raw("Email: ") 
    @Html.TextBox("email")
    
    <input type="submit" value="Potwierdź zakup"/>
}
