﻿@model MovieStore.Services.ViewModels.CartViewModel

@{
    ViewBag.Title = "Koszyk z zakupami";
}

<h2>@ViewBag.Title</h2>

@if (Model.TotalQuantity == 0)
{
    <h3>Koszyk jest pusty</h3>
}
else
{
    <div id="cart-details">
        <table>
            <tr>
                <th>Tytuł filmu</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Wartość</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Lines)
            {
                <tr id="cart-line-@item.MovieId">
                    <td>@item.MovieTitle</td>
                    <td>@item.MoviePrice</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalPrice</td>
                    <td><a href="#" class="remove-line" movie-id="@item.MovieId">Usuń pozycję</a></td>
                </tr>
            }

            <tr>
                <td>Razem:</td>
                <td></td>
                <td id="cart-total-quantity">@Model.TotalQuantity</td>
                <td id="cart-total-value">@Model.TotalValue</td>
            </tr>
        </table>
        <br />
        @Html.ActionLink("Kup filmy", "Checkout", "Cart")
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('.remove-line').click(function () {
                var movieIdToDelete = $(this).attr('movie-id');

                if (movieIdToDelete != '') {
                    // wywolanie ajax
                    $.post('/Cart/RemoveLine', { movieId: movieIdToDelete })
                        .done(function (data) {
                            // uaktualnienie strony
                            $('#cart-line-' + data.DeletedMovieId).fadeOut('slow');
                            $('#cart-total-quantity').text(data.TotalQuantity);
                            $('#cart-total-value').text(data.TotalValue);

                            if (data.TotalQuantity == 0) {
                                $('#cart-details').replaceWith("<h3>Koszyk jest pusty</h3>");
                            }

                            $.post('@Url.Action("CartSummary", "Cart")').done(function (result) {
                                $('#cart-summary').html(result);
                            });
                        });
                }
            });
        });
    </script>
}
