﻿@model MovieStore.Services.ViewModels.AddReviewViewModel

@{
    ViewBag.Title = "Dodaj recenzję do filmu: " + Model.MovieTitle;
}

<h2>Dodaj recenzję do filmu: @Model.MovieTitle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nowa recenzja</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.MovieId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MovieTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MovieTitle, new { disabled = "disabled", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.MovieTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Rating, Model.RatingList.ToSelectList())
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Dodaj recenzję" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy filmów", "Index", "Movies")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
