﻿@using MovieStore.Services.ViewModels
@model  IEnumerable<ReviewViewModel>

@{
    ViewBag.Title = "Recenzje filmów";
}

<h2>Recenzje filmów</h2>

<table>
    <tr>
        <th>Tytuł filmu</th>
        <th>Autor recenzji</th>
        <th>Data revcenzji</th>
        <th>Ocena</th>
        <th>Komentarz</th>
    </tr>
    @foreach (var review in Model)
    {
        <tr>
            <td>@Html.ActionLink(review.MovieTitle, "Details", "Movies", new { id = review.MovieId }, null)</td>
            <td>@review.Author</td>
            <td>@review.ReviewDate</td>
            <td>@review.Rating</td>
            <td>@review.Content</td>
        </tr>
    }
</table>