﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
      <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Phone book</a>
        </div>
        <div class="collapse navbar-collapse"   >
          <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Lista telefonów", "Index", "PhoneBook")</li>
            <li>@Html.ActionLink("Ulubione", "Favourites", "PhoneBook")</li>
            <li>@Html.ActionLink("Dodaj telefon", "Insert", "PhoneBook")</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

         @RenderBody()

    </div><!-- /.container -->



    
    
    



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
