﻿@model PhoneBookMvc.ViewModels.PhoneViewModel

@{
    ViewBag.Title = "Edycja danych telefonu";
}

<h2>Edycja telefonu</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edycja danych telefonu</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PersonId, Model.People)
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <p>
            <input type="submit" value="Zapisz" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy telefonów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
