﻿@using PhoneBookMvc.Models

@model IEnumerable<Phone>

@{
    ViewBag.Title = "PhoneBook";
}

<h2>@ViewBag.HeaderTitle</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię i nazwisko</th>
            <th>Miasto</th>
            <th>Numer telefonu</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Id</td>
            <td>@Html.ActionLink(phone.Person.FullName, "Edit", "Person", new { id = phone.Person.Id }, null)</td>
            <td>@phone.Person.City</td>
            <td>@phone.Number</td>
            <td>@Html.ActionLink("Edycja", "Edit", new { id = phone.Id }) </td>
        </tr>
    }
</table>
