﻿@model PhoneBookMvc.Models.Phone

@{
    ViewBag.Title = "Insert";
}

<h2>Nowy telefon</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Telefon</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PersonId)
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <p>
            <input type="submit" value="Utwórz wpis" class="btn"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy telefonów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
