﻿@{
    ViewBag.Title = "Custom binders";
}

<h2>Custom binders</h2>

<form id="Home" action="" method="post">
    Day: <input id="Day" name="Day" value="" type="text" />
    Month: <input id="Month" name="Month" value="" type="text" />
    Year: <input id="Year" name="Year" value="" type="text" />
    <input type="submit" value="Send" />
</form>

<br />
<br />

<h4>@ViewBag.ModelTitle</h4>
<h4>@ViewBag.ModelDate</h4>

