﻿@{
    ViewBag.Title = "Wyszukiwarka filmów";
}

@section head
{
    @Styles.Render("~/Content/themes/base/css")
}

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

<form id="movie-search" method="get" action="@Url.Action("MovieSearch", "Search")">
    <input type="text" name="q" data-autocomplete-source = "@Url.Action("QuickSearch")" />
    <input type="submit" value="Szukaj filmu" />
</form>

<div id="search-results">
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/mustache")


    <script>
        $(document).ready(function () {
            $("input[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("data-autocomplete-source") });
            });

            $("#movie-search").submit(function (event) {
                event.preventDefault();

                var form = $(this);

                $.getJSON(form.attr("action"), form.serialize(), function (data) {
                    var html = Mustache.to_html($("#movies-template").html(), { movies: data });
                    $("#search-results").empty().append(html);
                });
            });
        });
    </script>

    <script id="movies-template" type="text/html">
        <h3>Wyniki wyszukiwania</h3>
        <table>
            {{#movies}}
                <tr>
                    <td><img src="/Images/Covers/{{CoverThumbnail}}" alt="Brak okladki" /></td>
                    <td>
                        <h4><a href="@Url.Action("Details", "Movies")/{{MovieId}}">{{Title}}</a></h4>
                        <p>
                            {{Description}}
                        </p>
                    </td>
                </tr>
            {{/movies}}
        </table>
    </script>
}
