﻿@using HTMLHelpers.HtmlHelpers

@{
    ViewBag.Title = "Html Helpers";
}

@helper ListItems(IEnumerable<string> items)
{
    foreach (var item in items)
    {
        <b>@item</b>
    }
}


<h2>HTML Helpers</h2>

Cars:

@ListItems(ViewBag.Cars)

<br />

Cars:

@ListItems(ViewBag.Cities)


<h2>External Html Helpers</h2>

@Html.ListItemsExternal(ViewBag.Cars as IEnumerable<string>)

<br />

@Html.ListItemsExternal(ViewBag.Cities as IEnumerable<string>)