﻿@model MovieStore.Model.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj film</h2>

@using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nowy film</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryList as SelectList, "")
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortDescription)
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cover)
        </div>
        <div class="editor-field">
            <input type="file" name="coverFile" />
            @Html.ValidationMessageFor(model => model.Cover)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CoverThumbnail)
        </div>
        <div class="editor-field">
            <input type="file" name="coverThumbnailFile" />
            @Html.ValidationMessageFor(model => model.CoverThumbnail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Dodaj film" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy filmów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
