﻿@model MovieStore.Model.Movie

@{
    ViewBag.Title = "Szczegółu filmu: " + Model.Title;
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Film</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShortDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cover)
    </div>
    <div class="display-field">
        <img src="/Images/Covers/@Model.Cover" alt="brak okładki" />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoverThumbnail)
    </div>
    <div class="display-field">
        <img src="/Images/Covers/@Model.CoverThumbnail" alt="brak okładki" />
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id=Model.MovieID }) |
    @Html.ActionLink("Powrót do listy filmów", "Index")
</p>
