﻿@model MovieStore.Mvc4.Areas.Admin.ViewModels.MovieViewModel

@{
    ViewBag.Title = "Edycja filmu - " + Model.Movie.Title;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        @Html.HiddenFor(model => model.Movie.MovieID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Movie.Title)
            @Html.ValidationMessageFor(model => model.Movie.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.CategoryID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Movie.CategoryID, Model.CategoryList, "")
            @Html.ValidationMessageFor(model => model.Movie.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.ShortDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Movie.ShortDescription)
            @Html.ValidationMessageFor(model => model.Movie.ShortDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Movie.Description)
            @Html.ValidationMessageFor(model => model.Movie.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.Cover)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Movie.Cover)
            @Html.DisplayFor(model => model.Movie.Cover)
            <br />
            <input type="file" name="coverFile" />
            @Html.HiddenFor(model => model.Movie.CoverThumbnail)
            @Html.ValidationMessageFor(model => model.Movie.Cover)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.CoverThumbnail)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Movie.CoverThumbnail)
            <br />
            <input type="file" name="coverFileThumbnail" />
            @Html.ValidationMessageFor(model => model.Movie.CoverThumbnail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Movie.Price)
            @Html.ValidationMessageFor(model => model.Movie.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        Globalize.culture("pl-PL");

        $.validator.methods.number = function (value, element) {
            if (Globalize.parseFloat(value))
                return true;
            return false;
        }
    </script>
}
