﻿@model IEnumerable<MovieStore.Model.Movie>

@{
    ViewBag.Title = "Administracja filmami - lista filmów";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverThumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="/Images/Covers/@item.Cover" alt="brak okładki" class="cover-thumbnail" />
        </td>
        <td>
            <img src="/Images/Covers/@item.CoverThumbnail" alt="brak okładki" class="cover-thumbnail" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.MovieID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.MovieID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.MovieID })
        </td>
    </tr>
}

</table>
